@model Mascota
@* ESTAS EXTENSIONES SE METERÍAN DENTRO DE VIEW IMPORTS PARA QUE TODAS LAS VISTAS LO TUVIERAN
@using MvcCoreSession.Helpers
@using MvcCoreSession.Extensions *@
<h1>EJEMPLOS Session</h1>

<h2 style="color:blue">
    NOMBRE Session: @Context.Session.GetString("nombre")
</h2>

<h2 style="color:green">
    HORA Session: @Context.Session.GetString("hora")
</h2>
@* vamos a dibujar con el helper de json la mascota*@



<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="EjemploSession" asp-action="SessionSimple">SESSION SIMPLE</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="EjemploSession" asp-action="SessionMascotaBytes">SESSION MASCOTA</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="EjemploSession" asp-action="SessionMascotaJSON">SESSION MASCOTA JSON</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="EjemploSession" asp-action="SessionMascotaGenerico">SESSION MASCOTA GENÉRICA</a>
    </li>

    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="EjemploSession" asp-action="SessionMascotasColectionBytes">SESSION MASCOTAS COLECTION</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="EjemploSession" asp-action="SessionMascotasColectionGenerico">SESSION MASCOTAS COLECTION GENÉRICA</a>
    </li>
</ul>




@{
    Mascota mascota = null;
    if (Context.Session.Get("MASCOTAGENERIC") != null)
    {//AHORA VEMOS QUE FUNCIONA COMO UNA EXTENSIÓN,ES MÁS EFICIENTE
        mascota = Context.Session.GetObject<Mascota>("MASCOTAGENERIC");
    }
}

@if (mascota != null)
{
    <h2 style="color:red">NOMBRE: @mascota.Nombre</h2>
    <h2 style="color:mediumpurple"> RAZA: @mascota.Raza</h2>
    <h2 style="color:goldenrod">EDAD: @mascota.Edad </h2>
}
else
{
    <h2>No se cargan los datos de mascota</h2>
}
